<div class="container">
  <div class="row" style="padding-top:2%">
    <div class="col-lg-12 col-sm-12" style="text-align:center">
      <%= image_tag "avatar/pic4.png",style:"width:100px;height:100px;background-color:white;box-shadow:1px 2px 20px black"  %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-sm-1"></div>
    <div class="col-lg-10 col-sm-10">
      <div class="row" style="padding: 2%">
        <div class="col-lg-12" style="text-align: center">
          <h1 style="text-align: center">Add To Shared Property</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-2"></div>
        <div class="col-lg-8 col-sm-8" style="padding-left:10%;padding-bottom: 5%;padding-top: 5%;border:3px solid rgba(0,0,0,0.3);border-radius: 10% ">


          <%= render 'form', shared: @shared %>

          <%#= link_to 'Back', shareds_path %>

        </div>
        <div class="col-lg-2 col-sm-2"></div>
      </div>
    </div>
    <div class="col-lg-1 col-sm-1"></div>
  </div>
</div>
